@import url("../../colors.css");
@import url("../../../ml4w/settings/dock-border.css");

window {
    padding: 10px;
    background: rgba(18, 20, 14, 0.75);
    border: 2px solid alpha(@primary, 0.5);
    border-radius: 1em;
    margin: 10px;
}

#box {
  	/* Define attributes of the box surrounding icons here */
  	padding: 8px;
}

#active {
    background-color: alpha(@primary, 0.25);
    border-radius: 10px;
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: @primary;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: @primary;
	font-size: 12px;
	transition: background-color 200ms ease, border-radius 200ms ease;
}

button:hover {
	background-color: alpha(@primary, 0.15);
	border-radius: 10px;
}

button:focus {
	box-shadow: none;
}
