[Unit]
Description=Open WebUI
After=network.target ollama.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f open-webui
ExecStart=/usr/bin/docker run --rm --name open-webui \
  -p 8080:8080 \
  --add-host=host.docker.internal:host-gateway \
  -v open-webui:/app/backend/data \
  -e OLLAMA_BASE_URL=http://host.docker.internal:11434 \
  -e DEFAULT_MODELS=gemma3:12b \
  -e RAG_EMBEDDING_ENGINE=ollama \
  -e RAG_EMBEDDING_MODEL=nomic-embed-text \
  -e RAG_OLLAMA_BASE_URL=http://host.docker.internal:11434 \
  -e ENABLE_RAG_WEB_SEARCH=true \
  -e RAG_WEB_SEARCH_ENGINE=searxng \
  -e "SEARXNG_QUERY_URL=http://host.docker.internal:8888/search?q=<query>&format=json" \
  -e ENABLE_SEARCH_QUERY=true \
  -e ENABLE_CODE_EXECUTION=true \
  -e CODE_EXECUTION_ENGINE=pyodide \
  -e RAG_RERANKING_MODEL_AUTO_SELECT=true \
  -e ENABLE_RAG_HYBRID_SEARCH=true \
  -e ENABLE_WEB_SEARCH_IN_NEW_CHAT=true \
  -e ENABLE_RAG_LOCAL_WEB_FETCH=true \
  -e ENABLE_IMAGE_GENERATION=true \
  -e IMAGE_GENERATION_ENGINE=comfyui \
  -e COMFYUI_BASE_URL=http://host.docker.internal:8188 \
  -e IMAGE_SIZE=1024x1024 \
  -e IMAGE_STEPS=4 \
  ghcr.io/open-webui/open-webui:main
ExecStop=/usr/bin/docker stop open-webui
Restart=on-failure

[Install]
WantedBy=default.target
